@import '../../custom-style.scss';

.bg-light {
    background-color: #f7f7f7 !important;
}

.header {
    @extend .center-center;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    .navbar-brand {
        text-transform: uppercase;
        font-weight: 900;
        color: $primary;
        letter-spacing: 0.7px;
        position: relative;
        span {
            color: $secondary;
        }
        span.paw {
            display: inline-block;
            width: 25px;
            height: 20px;
            margin: 0px 10px;
            border-radius: 12.5px/10px;
            background-color: $primary;
            position: absolute;
            top: 15px;
            right: -50px;
            span {
                display: inline-block;
                background-color: $secondary;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                &:first-child {
                    position: absolute;
                    top: -16px;
                    left: -2px;
                }
                &:nth-child(2) {
                    position: absolute;
                    top: -14px;
                    left: 15px;
                }
                &:last-child {
                    position: absolute;
                    top: -2px;
                    right: -13px;
                }
            }
        }
    }
    .input-placeholder {
        position: relative;
        margin-left: 100%;
        width: 55%;
        @media screen and (max-width: 1200px) {
            margin-left: 50%;
        }
        @media screen and (max-width: 768px) {
            margin-left: 30%;
        }
      }
      .input-placeholder input {
        border: 2px solid $primary2;
        border-radius: 5px;
        padding: 2px 10px;
        background: transparent;
        width: 100%;

      }
      .input-placeholder input:valid + .placeholder {
        display: none;
      }
      
      .placeholder {
        pointer-events: none;
        @include tlrb-0;
        color: $primary4;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .placeholder span {
        color: $primary4;
        padding-right: 10px;
      }
    .right-items {
        @extend .center-center;
        justify-content: flex-start;
        // width: 20%;
        font-weight: 500;

        .btn {
            padding: 2px 40px;
            color: $light;
            border-radius: 7px;
        }
        p{
            font-size: 15px;
            background: $primary4;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            margin: 0;
            @extend .center-center;
        }
    }
}