<nav class="navbar-light bg-light">
    <div class="container header">
        <a href="#" class="navbar-brand">puppy<span>gram</span>
        <span class="paw">
            <span class="small-paw"></span>
            <span class="small-paw"></span>
            <span class="small-paw"></span>
        </span>
    </a>
        <form>
            <div class="input-placeholder">
                <input type="text" required>
                <div class="placeholder">
                    <span><i class="fa fa-search" aria-hidden="true"></i></span> Search
                </div>
            </div>
            <!-- <input type="text" placeholder="&#xF002; Search"> -->
        </form>
        <div class="right-items">
            <button class="btn btn-secondary" (click)=open()>Upload</button>
            <i class="fa fa-bell" aria-hidden="true"></i>
            <p>MB</p>
        </div>
    </div>
</nav>