<footer>
    <div class="container top-border">
        <ul class="nav">
            <li class="nav-item">About Us</li>
            <li class="nav-item">Blog</li>
            <li class="nav-item">Contact Us</li>
            <li class="nav-item">FAQ</li>
        </ul>
        <div class="footer-bottom">
            <div class="navbar-brand"><span>puppygram</span>
                <span class="paw">
                    <span class="small-paw"></span>
                    <span class="small-paw"></span>
                    <span class="small-paw"></span>
                </span>
            </div>
            <p class="copyright">Copyright 2020 - Pupygram Inc.</p>
        </div>
    </div>
</footer>
