@import '../../custom-style.scss';

.round-window {
    .modal-dialog {
        .modal-content {
            border: none;
            border-radius: 10px;

            .modal-body {
                padding: 50px 80px;
                .delete {
                    position: absolute;
                    z-index: 1051;
                    top: 20px;
                    right: 20px;
                    height: 40px;
                    width: 40px;
                    background: transparent;
                    color: $primary;
                    font-size: 25px;
                    font-weight: 700;
                    border-radius: 5px;
                    @extend .center-center;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover {
                        color: $light;
                        background: $secondary;
                    }
                }
                h3 {
                    font-weight: 700;
                    margin-bottom: 30px;
                }
                .form-group {
                    @extend .center-center;
                    justify-content: flex-start;
                    label {
                        margin: 0;
                        span{
                            font-size: 14px;
                        }
                    }
                    .btn-upload {
                        background: $primary4;
                        color: $primary;
                        width: 100%;
                        font-size: 14px;
                        border-radius: 7px;
                        position: relative;

                        input[type=file] {
                            opacity: 0;
                            @include tlrb-0;
                        }
                    }
                    .btn-submit {
                        color: $light;
                        font-size: 14px;
                    }
                    .dog-preview {
                        background: $primary2;
                        border: 1px solid $primary4;
                        color:$primary4;
                        height: 60px;
                        width: 60px;
                        position: relative;
                        &::after {
                            content: 'Preview';
                            @include tlrb-0;
                            z-index: 4;
                            font-size: 11px;
                            @extend .center-center;
                        }
                        img {
                            height: 100%;
                            position: relative;
                            z-index: 5;
                        }

                    }
                    .form-control {
                        border: 2px solid $primary4;
                        border-radius: 7px;
                        &::placeholder {
                            font-size: 14px;
                            color: $primary4;
                        }
                    }
                }
            }
        }
    }
}